<div class="jumbotron text-center">
  <h1 class="display-3">Aplikasi Helpdesk</h1>
  <p class="lead">
    Hallo <%= session[:user_name] %>
  </p>
  <hr class="m-y-md">
  <p>Anda sudah melaporkan <a href="/problem/detail"><%= Problem.where(user_id: session[:user_id]).count %></a> Masalah</p>
  <p><a href="/problem/detailEnable"><%= Problem.where(user_id: session[:user_id], status: 'selesai').count %></a> Masalah telah terselsaikan</p>
  <p><a href="/problem/detailDisable"><%= Problem.where(user_id: session[:user_id], status: 'sedang dikerjakan').count %></a> Masalah masih dalam penanganan</p>
</div>
